<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name"><img src="/assets/images/logo.jpg" width="100%"/></h1>
        </div>
        <h3>Welcome to Little Frog</h3>
        <p>Login in. To see it in action.</p>
        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput id="email" type="email" class="form-control" placeholder="Email" required [formControl]="email" email (keyup.enter)="onSubmit()">
                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput placeholder="Enter your password" required [type]="hidePwd ? 'password' : 'text'" [formControl]="password" (keyup.enter)="onSubmit()">
                <button mat-icon-button matSuffix (click)="hidePwd = !hidePwd" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePwd">
                    <mat-icon>{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <button type="submit" mat-flat-button class="mat-primary block full-width m-b" (click)="onSubmit()">Login</button>
        <p class="m-t"> <small>Little Frog Learning Centre &copy; 2019</small> </p>
    </div>
</div>
