<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name"><img src="/assets/images/logo.jpg" width="100%"/></h1>
        </div>
        <h3>Welcome to Little Frog</h3>
        <p>Login in. To see it in action.</p>
        <form class="m-t" role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <mat-form-field class="full-width">
                    <input matInput id="email" type="email" class="form-control" placeholder="Email" required email formControlName="email">
                    <mat-error *ngIf="loginForm.invalid">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="full-width">
                    <input matInput id="password" type="password" class="form-control" placeholder="Password" required formControlName="password">
                    <mat-error *ngIf="loginForm.invalid">{{getPasswordErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <button type="submit" mat-flat-button class="mat-primary block full-width m-b" [disabled]="loginForm.invalid">Login</button>
        </form>
        <p class="m-t"> <small>Little Frog Learning Centre &copy; 2019</small> </p>
    </div>
</div>
